/* Some properties are defined in environment.rb and dynamically included here. */  

body {
  width: 1024px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-image: url(images/background2.jpg);
  /*background-image: url(images/background2_paper.jpg);*/
  /*background-image: url(images/superimposition2.jpg);*/
  /*background-image: url(images/on_a_dark_edge.jpg);*/
  background-position: top left;
  background-repeat: repeat-y; 
  background-color: #859C9B; /* #BBCCCF; #f0f0f0; */
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

a  {color: #036}
a:hover {
  background-color: #A1A1A1;
  color: black;
  text-decoration: none;
}

pre {
  font-size: 14px;
  font-family: "Monaco";
  color: black;
  background-color: #D8E9B1;
  padding: 5px;
  margin: 10px;
}

pre.ruby {
  font-size: 14px;
  font-family: "Monaco";
  color: black;
  background-color: #D8E9B1;
  padding: 5px;
  margin: 10px;
}

.keyword { color: #FF6600; }
.constant { color: #4F112C; }
.attribute { color: #0D8754; }
.global { color: #470C58; }
.module { color: #470C58; }
.class { color: #470C58; }
.string { color: #6D4405; }
.ident { color: #470C58; }
.method { color: #6D5750; }
.number { color: #470C58; }
.char { color: #470C58; }
.comment { color: #9933CC; }
.symbol { color: #6D1845; }
.regex { color: #44B4CC; }
.punct { color: #470C58; }
.escape { color: #470C58; }
.interp { color: #470C58; }
.expr { color: #470C58; }

.offending { background-color: gray; }
.linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #000000;
	background-color: #FFFBD3;
}

#content table {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
/*
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
*/
  font-size: 12px;
  border-collapse: collapse;
  border: 1px solid #aaa;
  background-color: #E9D7A3;
}

#content {
  width: 934px;  /* 1024 - 4*20px (margin) */
  float: left;
  background-color: #eed;
  border: 2px solid #aaa;
  border-top: none;
  padding-top:    0px;
  padding-left:   25px;
  padding-right:  25px;
  padding-bottom: 25px;
}

#content td {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #aaa;
}

#page {
 /* background-color: #f0f0f0; */
  width: 984px; /* 1024 - 2*20px */
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#header, #about, #main {
  padding-left: 15px;
  padding-right: 15px;
}

#title {
  font-size: 30px;
/*  background-image: url(images/banner.jpg); */
  color: #EFF; /*#CBD6FF;*/
  font-family: "Times Roman", "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-weight: bold;
  text-align: left;
}

h1 {
  font-size: 24px;
  color: #220;
  font-family: "Times Roman", "Lucida Grande", "Bitstream Vera Sans", "Verdana";
}

#sidebar-logo {
  float: right;
  width: 124px;
  background-image: url("/images/water_tree_vert.jpg");
}

#copyright {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 12px;
  color: #444;
  text-align: left;
  font-size: 10px;
}


#about {
	float: left;
}

#logo {
  background-image: url("/images/logo1.gif");
  background-repeat: no-repeat;
  background-position: top right;
  border: 0px solid #88a;
  width:  200px;
  height: 100px;
}

.page-first-letter {
	color: #642;
	font-weight: bold;
	font-size: 24px;
}

.keyword {  /* used for highlighting terminology */
	color:#642;
	font-weight: bold;
	font-style: normal;
}

#about h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

#about-content {
  float: left;
  background-color: #ffd;
  border: 1px solid #fc0;
  margin-left: -11px;
}
#about-content table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  border-collapse: collapse;
}
#about-content td {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
  background-color: #fcc;
  border: 1px solid #f00;
}
#about-content.failure p {
  margin: 0;
  padding: 10px;
}


#main {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 15px;
}
#main h1 {
  margin: 0;
  font-size: 20px;
}
#main h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}
#main ol {
  margin-left: 0;
  padding-left: 0;
}
#main li {
  font-size: 12px;
  color: #444;
  margin-bottom: 15px;
}
#main li h2 {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  color: #333;
}
#main li p {
  color: #555;
  font-size: 12px;
}

.description p {
padding-left: 15px;
margin-right: 15px;
font-style: italic;
}

#search {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}
#search input {
  font-size: 11px;
  margin: 2px;
}
#search-text {width: 170px}


#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar h3 {
  font-size: 16px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
#sidebar ul {
  font-size: 14px;
  padding-bottom: 10px;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}
 
#info, #notice, #warning, #error {
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
}
#info {
	border: 2px solid blue;
}
#notice {
	border: 2px solid green;
}
#warning {
	border: 2px solid orange;
}
#error {
	border: 2px solid red;
}

h4 {
	font-size: 12px;
	font-weight: bold;
}
h5, h6 {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}

img {
	border: 0px solid grey;
}